.Login {
background: url(../../assets/images/salmonFallsPotHoles1DPI72.jpg);

font-family: "Apple Chancery";

padding:15px;
color: white;


}
P {
	font-size: 20px;
	}

li {
	font-size: 20px;
	}

input.capitalize {
	text-transform: capitalize;
	}

input.uppercase {
    text-transform: uppercase;
}

.patriot {color: red;}
.hidden {
	visibility:hidden;
	}