/* Page body */

body {
font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    background-color: #808080;
    color: white;
    padding: 14px 18px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: sand;
}

#privateInfo a:link, a:visited {
    background-color: w3-pale-green;
    color: white;
    padding: 14px 18px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.collogistics {
	float: left;
	width: 175px;
	margin-right: 10px;
}

.collogistics, a:link, a:visited { 
    text-decoration: underline;
    cursor: auto;
}

.nrarip {
	width: 250px;
	margin-bottom: 10px;
}

.prompt td {
	text-align: right;
}

.response td {
	text-align: left;
}

.tip {
	color: blue;
	}
	
.error {
	color: red;
	}
	
/* Definition lists */
dl { width: 100%; margin: 2em 0; padding: 0; clear: both; overflow: auto; }
dt { width: 30%; float: left; margin: 0; padding: 5px 9.9% 5px 0; border-top: 1px solid #DDDDB7; font-weight: bold; overflow: auto; clear: left; }
dd { width: 60%; float: left; margin: 0; padding: 6px 0 5px 0; border-top: 1px solid #DDDDB7; overflow: auto; }


/* Forms  margin top, right, bottom, left*/
form label { display: block; float: left; clear: both; text-align: right; margin: 0.6em 5px 0 0; width: 35%; }
form input, select, textarea { float: left; margin: 1em 0 0 0; width: 57%; }
.valid { float: right; margin: 1em 0 0 0; width: 10%; }
.rsp_message {float: left; margin: 1em 0 1em 0; width: 57%;}
form input { border: 1px solid #666; }
form input[type=radio], input[type=checkbox], input[type=submit], input[type=reset], input[type=button], input[type=image] { width: auto; }
