
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: sans-serif;
    color: #333;
    
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
    
    /* tjs 160527 */
    background: url(../images/salmonFallsPotHoles1DPI72.jpg) no-repeat center fixed; 
    background-size: cover;
}

body {
    margin: 0; /* Remove default margin */
}
